# Junk files
*.bak
*.swp
*~
.DS_Store
._*

# QMK-specific
api_data/v1
quantum/version.h
*.bin
*.eep
*.hex
*.qmk
*.uf2

# kbfirmware....
/keyboards/**/kb.h
/keyboards/**/kb.c

# ?
*.pdf
**/*test.*

# Python Virtual Environment
venv/**
