# Junk files
*.bak
*.swp
*~
.DS_Store
._*

# QMK-specific
api_data/v1
quantum/version.h
*.bin
*.eep
*.hex
*.qmk
*.uf2

# kbfirmware....
/keyboards/**/kb.h
/keyboards/**/kb.c

# ?
*.pdf

# Ignore image/font files
*.bmp
*.wbmp
*.gif
*.jpg
*.jpeg
*.png
*.apng
*.mng
*.svg
*.webp
*.webm
*.avi
*.mp4
*.mpeg
*.ttf
*.otf

# Python Virtual Environment
venv/**
